.menuScroll {
    background: rgba(255, 255, 255, 0.9);
    height: 91px;
    position: fixed;
    top: 0px;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

.ani {
    animation-duration: 0.8s;
}

.hotproduct {
    font-family: 'Fira Sans', sans-serif;
}

#carousel .item {
    margin: 5px;
}

#carousel .item a {
    display: block;
    text-align: center;
}

#carousel .item img {
    width: 100%;
    height: auto;
}

#carousel .item p {
    text-align: center;
    padding: 20px 0;
}

.btn-readMore {
    position: relative;
    background: #6699FF;
    border: 2px solid #6699FF;
    border-radius: 18px;
    padding-bottom: 3px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    color: white;
}

.btn-readMore:hover {
    background: inherit;
    color: #0066FF;
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 0px 9px 2px 9px;
    font-size: 1.2em;
    font-weight: bolder;
}

.owl-theme .owl-buttons i {
    margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -45px;
    top: 55px;
}
/* Phần body */

.hidden-content {
    font-family: 'Fira Sans', sans-serif;
}

.product-item img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.product-item a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.body-item {
    min-height: 700px;
    padding: 10px 0;
}

.body-item .container {
    text-align: center
}

.body-item img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.top h1 {
    font-family: 'Fira Sans', sans-serif;
    color: #E94747;
    padding: 10px;
}

.body-item p {
    text-align: left;
    padding: 20px;
    color: #003687;
}
/* Section Service */

.service-title {
    padding: 50px;
    font-family: 'Fira Sans', sans-serif;
    color: #0E45B7;
}

.service-item {
    background: rgba(0, 153, 0, 0.8);
    border-radius: 5px;
    margin: 1em 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.service-item .hidden-content {
    padding: 15px;
}

.service-subtitle {
    background: rgba(0, 153, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.service-wrapper {
    margin: f15px 0;
}

.btn-service-readMore {
    border-radius: 6px;
    box-shadow: 0px 2px 2px black;
    padding: 10px;
    background: rgba(0, 153, 0, 0.8);
    color: white;
}

.btn-service-readMore:hover {
    background: white;
    color: rgba(0, 153, 0, 0.6);
}

.title {
    background: lightblue;
    font-size: 1.8em;
    margin: 10px 0px;
    padding: 10px 40px;
    font-family: Oswald;
    text-transform: capitalize;
    color: darkgreen;
}

#footer {
    min-height: 30px;
    margin-top: 10px;
    padding: 5px 0;
    background: lightblue;
}
