.menuScroll{
  background: rgba(255,255,255,0.6);
  height: 91px;
  position : fixed;
  top: 0px;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.ani{
  animation-duration: 0.8s;
}

.show{
  border : 1px solid #94B8FF;
  padding: 1.666em 0 1.666em 3.333em;
}

.section-wrapper{
  margin:15px 50px;
}

#carousel .item{
  margin :5px;
}

#carousel .item a{
  display : block;
  text-align: center;
}

#carousel img{
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 0px 9px 2px 9px;
  font-size: 1.2em;
  font-weight: bolder;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}