@charset "UTF-8";
/************************************************ 
**             Button Configuration            **
*************************************************/
.button-blue {
    display: inline-block;
    padding: 1em;
    color: rgba(52, 152, 219,1.0);
}

.button-green {
    display: inline-block;
    padding: 1em;
    color: rgba(39, 174, 96,1.0);
}

.button-black {
	display: inline-block;
    padding: 1em;
    color: rgba(34, 49, 63,1.0);
}

.button-purple {
    display: inline-block;
    padding: 1em;
    color: rgba(155, 89, 182,1.0);
}

.button-yellow {
	display: inline-block;
    padding: 1em;
    color: rgba(241, 196, 15,1.0);
}

.button-pink {
	display: inline-block;
    padding: 1em;
    color: rgba(210, 82, 127,1.0);
}

.button-orange {
    display: inline-block;
    padding: 1em;
    color: rgba(243, 156, 18,1.0);
}

.button-red {
	display: inline-block;
    padding: 1em;
    color: rgba(192, 57, 43,1.0);
}